In [1]:
import pandas as pd

In [11]:
API_Key = 'A9HTPYBVOW6MI2HN'

In [14]:
#Stock API 
sixty_mins = pd.read_csv(f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=60min&apikey={API_Key}&datatype=csv')
#stock_API_Intraday = pd.read_csv('intraday_60min_IBM (1).csv')

In [16]:
sixty_mins

              timestamp      open      high       low     close   volume
0   2022-02-15 20:00:00  129.7000  129.7000  129.7000  129.7000      200
1   2022-02-15 19:00:00  129.9000  129.9200  129.8000  129.8000     1060
2   2022-02-15 18:00:00  129.9400  129.9500  129.9399  129.9399      801
3   2022-02-15 17:00:00  129.9400  130.1400  129.8500  129.9500    78097
4   2022-02-15 16:00:00  129.8600  130.3100  129.7500  129.9900  1035074
..                  ...       ...       ...       ...       ...      ...
95  2022-02-07 05:00:00  135.0512  135.0512  133.5496  133.5496      607
96  2022-02-04 20:00:00  135.6834  135.6834  135.6834  135.6834      150
97  2022-02-04 19:00:00  135.4859  135.5352  135.4859  135.5352     2287
98  2022-02-04 18:00:00  135.3673  135.3673  135.2685  135.2685     1063
99  2022-02-04 17:00:00  135.4859  135.6439  135.4661  135.6340    98256

[100 rows x 6 columns]

In [18]:
#Here is the starter file for the Crypto ETF project